img {
  width: 350px;
  border-color: #a0e7e5;
  left: 2%;
  top: 2%;
}
audio {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
body {
  background: rgb(132, 255, 201);
  background: linear-gradient(
    90deg,
    rgba(132, 255, 201, 1) 0%,
    rgba(170, 178, 255, 1) 0%,
    rgba(236, 160, 255, 1) 100%
  );
  color: #d9d9d9;
  font-family: monospace;
  font-size: 16px;
}
table {
  color: darkslategrey;
  position: absolute;
  top: 0px;
  right: 10px;
}
thead {
  font-weight: bold;
}
h1 {
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 0px 4px black;
}
#info {
  width: 100%;
  height: 125px;
  position: absolute;
  top: 0%;
  left: 0%;
}
#content {
  position: absolute;
  top: 20%;
  width: 40%;
}
#exp {
  width: 40%;
  position: absolute;
  top: 30%;
  right: 0%;
}
#curve {
  height: 120%;
  width: 100%;
  position: fixed;
  left: -50%;
  top: 0%;
}
#ball {
  height: 60%;
  width: 60%;
  position: fixed;
  right: -10%;
  top: 20%;
}
.circle {
  border-radius: 100%;
}
.shape {
  background-color: #ebebd3;
  z-index: -1;
}
.white {
  color: #f95738;
  font-weight: bold;
}
.black {
  color: #083d77;
  font-weight: bold;
}
video {
  height: 350px;
  position: absolute;
  bottom: 0%;
  left: 40%;
}
